body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bandera{
    position: absolute;
    up:20px;
}

#texto{
    text-align: justify;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 200px;
}

#division {
    position: absolute;
    background-color: #BF0514;
    text-align: center;
    color: #ffffff;
    right: 20px;
    top:100px;
}

#pagina {
    background-color: #BF0514;
}

#musica {
    background-color: #4A6BA1;
}

#carro {
    background-color: #c0c0c0;
}